@import "tailwindcss";

@theme {
  --color-rosepinebase: #191724;
  --color-rosepinesurface: #1f1d2e;
  --color-rosepineoverlay: #26233a;
  --color-rosepinemuted: #6e6a86;
  --color-rosepinesubtle: #908caa;
  --color-rosepinetext: #e0def4;
  --color-rosepinelove: #eb6f92;
  --color-rosepinegold: #f6c177;
  --color-rosepinerose: #ebbcba;
  --color-rosepinepine: #31748f;
  --color-rosepinefoam: #9ccfd8;
  --color-rosepineiris: #c4a7e7;
  --color-rosepinehighlight-low: #21202e;
  --color-rosepinehighlight-med: #403d52;
  --color-rosepinehighlight-high: #524f67;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: var(--color-rosepinebase);
  color: var(--color-rosepinetext);
}
